{% extends 'templates/base.njk' %}

{% block content %}
  <section>
    <h1>{{ title }}</h1>
    <ul class="posts">
      {% for post in collections.post | published | reverse %}
        <li>
          <a href="{{ post.url }}">
            <time datetime="{{ post.date | date }}">
              {{ post.date | date('long') }}
            </time>
            <h3>{{ post.data.title }}</h3>
            <p>{{ post.data.summary }}</p>
          </a>
        </li>
      {% endfor %}
    </ul>
  </section>
{% endblock %}
