{% extends 'templates/base.njk' %}

{% block content %}
  <article>
    <header>
      <h1>{{ title }}</h1>
      <aside>
        <p>{{ summary }}</p>
        <p>Posted on
          <time datetime="{{ date | date }}">
            {{ date | date('long') }}
          </time>
        </p>
      </aside>
      {% if image and image.url %}
        <img
          src="{{ image.url }}"
          {% if image.alt %} alt="{{ image.alt }}" {% else %} alt="" role="presentation" {% endif %}
          {% if image.height %} height="{{ image.height }}" {% endif %}
          {% if image.width %} width="{{ image.width }}" {% endif %}
        >
      {% endif %}
    </header>

    {{ content | safe }}
  </article>
{% endblock %}
