---
import Base from '../../layouts/Base.astro'
import { getCollection } from 'astro:content'
import { formatDate } from '../../utils/date.js'

const allPosts = await getCollection('posts')
const posts = allPosts
  .filter(p => !p.data.unlisted)
  .sort((a, b) => b.data.date.getTime() - a.data.date.getTime())
---
<Base title="All posts">
  <section>
    <h1>All posts</h1>
    <ul class="posts">
      {posts.map(post => (
        <li>
          <a href={`/posts/${post.id}/`}>
            <time datetime={formatDate(post.data.date)}>
              {formatDate(post.data.date, 'long')}
            </time>
            <h3>{post.data.title}</h3>
            <p>{post.data.summary}</p>
          </a>
        </li>
      ))}
    </ul>
  </section>
</Base>
