{% extends 'base.html' %}

{% block content %}
  <header class="hero">
    <div class="container">
      <h1 class="hero-title">{{ page.title }}</h1>
      <p class="hero-intro">{{ page.intro }}</p>
    </div>
  </header>

  {% if projects %}
  <section class="cards" id="projects">
    <div class="container">
      <h2 class="cards-title">Featured projects</h2>
      <ul class="cards-list">
        {% for project in projects %}
          <li class="cards-list-item">
            <div class="card">
              <h3 class="card-title">{{ project.title }}</h3>
              <p>{{ project.summary }}</p>
              <div class="card-links">
                {% if project.source_url %}
                  <a class="button-link" href="{{ project.source_url }}">
                    Source code
                  </a>
                {% endif %}
                {% if project.project_url %}
                  <a class="button-link button-link-primary" href="{{ project.project_url }}">
                    Live project
                  </a>
                {% end %}
              </div>
            </div>
          </li>
        {% endfor %}
      </ul>
      <div class="cards-more">
        <a class="button-link" href="https://github.com/liamnewmarch">See more on GitHub</a>
      </div>
    </div>
  </section>
  {% endif %}

  {% if blog_posts %}
  <section class="cards">
    <div class="container">
      <h2 class="cards-title">Latest articles</h2>
      <ul class="cards-list">
        {% for blog_post in blog_posts %}
          <li class="cards-list-item">
            <div class="card">
              <h3 class="card-title">{{ blog_post.title }}</h3>
              <p>{{ blog_post.summary }}</p>
              <div class="card-links">
                <a class="button-link button-link-primary" href="{% url 'blog-post-detail' slug=blog_post.slug %}">
                  Read more
                </a>
              </div>
            </div>
          </li>
        {% endfor %}
      </ul>
    </div>
  </section>
  {% endif %}

  <section class="links">
    <div class="container">
      <h2>Around the web</h2>
      <ul class="links-list">
        <li class="links-list-item">
          <a class="link" href="https://codepen.io/liamnewmarch" rel="me">CodePen</a>
        </li>
        <li class="links-list-item">
          <a class="link" href="https://github.com/liamnewmarch" rel="me">GitHub</a>
        </li>
        <li class="links-list-item">
          <a class="link" href="https://mastodon.social/@liamnewmarch" rel="me">Mastodon</a>
        </li>
        <li class="links-list-item">
          <a class="link" href="https://pixelfed.social/@liamnewmarch" rel="me">Pixelfed</a>
        </li>
        <li class="links-list-item">
          <a class="link" href="https://stackoverflow.com/users/163142/liam-newmarch" rel="me">StackOverflow</a>
        </li>
        <li class="links-list-item">
          <a class="link" href="{% url 'contact' %}">Contact</a>
        </li>
      </ul>
    </div>
  </section>
{% endblock %}
