<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  </head>
  <body>
    <table>
      <tbody>
        <tr>
          <td style="font-family: sans-serif; vertical-align: top">Date:</td>
          <td style="font-family: sans-serif; vertical-align: top">{{ response.datetime }}</td>
        </tr>
        <tr>
          <td style="font-family: sans-serif; vertical-align: top">Name:</td>
          <td style="font-family: sans-serif; vertical-align: top">{{ response.name }}</td>
        </tr>
        <tr>
          <td style="font-family: sans-serif; vertical-align: top">Email:</td>
          <td style="font-family: sans-serif; vertical-align: top">{{ response.email }}</td>
        </tr>
        <tr>
          <td style="font-family: sans-serif; vertical-align: top">Message:</td>
          <td style="font-family: sans-serif; vertical-align: top">{{ response.message }}</td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
