{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1">
    <meta name="description" content="Software engineer for the web working at Potato London.">
    <title>{% if title %}{{ title }} |{% endif %} Liam Newmarch</title>
    <link href="{% static 'index.css' %}" rel="stylesheet">
    <link href="{{ google_fonts_url }}" rel="preload" as="style">
    <noscript><link href="{{ google_fonts_url }}" rel="stylesheet"></noscript>
    <link href="{% static 'favicon.png' %}" rel="icon" sizes="512x512" type="image/png">
    <link href="{% static 'humans.txt' %}" rel="author">
    <script defer src="{% static 'index.js' %}"></script>
    {% block head %}{% endblock head %}
  </head>
  <body>
    <header hidden>
      <a href="{% url 'home-page' %}">
        <h1>Liam Newmarch</h1>
      </a>
    </header>
    <nav class="nav">
      {% block nav %}{% endblock nav %}
      <button type="button" hidden class="nav-link toggle-theme icon-before" title="Toggle theme" aria-label="Toggle theme"></button>
    </nav>
    {% block content %}{% endblock %}
  </body>
</html>
