---
import Image from 'astro/components/Image.astro'
import Base from '../layouts/Base.astro'
import { getEntry, render } from 'astro:content'

const index = await getEntry('pages', 'index')
if (!index) throw new Error('Failed to load index page content')
const { Content: Bio } = await render(index)
---
<Base>
  <Fragment slot="header">
    <Image class="avatar" src="/liam.avif" alt="" height="143" width="143" loading="lazy" />
    <Bio />
  </Fragment>
  <Fragment slot="footer">
    <p>
      Lesser pages:
      <a href="/posts/">Blog</a>
      &bull;
      <a href="/contact/">Around the web</a>
      &bull;
      <a href="/now/">Now</a>
      &bull;
      <a href="/colophon/">Colophon</a>
    </p>
  </Fragment>
</Base>
