---
import Base from '../layouts/Base.astro'
import { getEntry, render } from 'astro:content'

const entry = await getEntry('pages', 'now')
const { Content } = await render(entry)
---
<Base title={entry.data.title}>
  <section>
    <Content />
  </section>
</Base>
