{% extends 'base.html' %}

{% block head %}
  {# <link href="/css/code-theme.css" rel="stylesheet"> #}
{% endblock %}

{% block nav %}
  <a href="{% url 'home-page' %}" class="nav-link icon-before" data-icon="home" title="Home" aria-label="Home"></a>
{% endblock nav %}

{% block content %}
  <div class="container">
    <article class="article">
      <header class="article-meta">
        <h1 class="article-title">{{ blog_post.title }}</h1>
        <p class="article-date">
          Posted on
          <time datetime="{{ blog_post.published | date:'c' }}">
            {{ blog_post.published }}
          </time>
        </p>
      </header>
      <div class="article-content">
        {{ blog_post.body | safe }}
      </div>
    </article>
  </div>
{% endblock content%}
