html {
  accent-color: #fff;
  color-scheme: dark light;
  font: 300 100% / 1.5 system-ui, sans-serif;
  font-feature-settings: 'liga';
  text-rendering: geometricPrecision;
}

body {
  margin: 0 auto;
  max-width: 80ch;
  padding: 1rem;
}

a {
  color: inherit;
}

a:not(:hover) {
  text-decoration: unset;
}

article a:any-link {
  text-decoration: underline;
}

img {
  max-width: 100%;
}

li a {
  display: inline-grid;
}

li h3:not(:last-child) {
  margin-bottom: 0;
}

pre[class^="language-"] {
  background-color: #111;
  color: #fff;
  padding: 1rem;
}

@media (prefers-color-scheme: light) {
  pre[class^="language-"] {
    filter: invert();
  }
}

/* Syntax highlighting theme */
.token.comment,
.token.block-comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: #608b4e;
}
.token.punctuation {
  color: #ccc;
}
.token.tag,
.token.namespace,
.token.deleted {
  color: #4ec9b0;
}
.token.attr-name {
  color: #9cdcfe;
}
.token.function-name {
  color: #6196cc;
}
.token.boolean {
  color: #569cd6;
}
.token.number {
  color: #B5cea8;
}
.token.function {
  color: #dcdcaa;
}
.token.property,
.token.constant,
.token.symbol {
  color: #f8c555;
}
.token.class-name {
  color: #4ec9b0;
}
.token.selector,
.token.important,
.token.atrule,
.token.keyword,
.token.builtin {
  color: #c586c0;
}
.token.string,
.token.char,
.token.attr-value,
.token.regex,
.token.variable {
  color: #ce9169;
}
.token.operator {
  color: #d4d4d4;
}
.token.entity,
.token.url {
  color: #67cdcc;
}
.token.important,
.token.bold {
  font-weight: bold;
}
.token.italic {
  font-style: italic;
}
.token.entity {
  cursor: help;
}
.token.inserted {
  color: #0f0;
}
