<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1">
    <meta name="color-scheme" content="dark light">
    <meta name="description" content="Liam Newmarch lives in Yorkshire and makes things for the web.">
    <title>{% if title %}{{ title }} | {% endif %}Liam Newmarch</title>
    <link href="/index.css" rel="stylesheet">
    <link href="/favicon.png" rel="icon" sizes="512x512" type="image/png">
    <link href="/humans.txt" rel="author">
    {% block head %}{% endblock head %}
    <script defer src="/index.js"></script>
    <script defer src="https://cloud.umami.is/script.js" data-website-id="9e2817ee-e7bb-403b-93aa-a030a07ef172"></script>
  </head>
  <body>
    <header>
      {% block header %}
        <nav>
          <a href="/">
            ← Back
          </a>
        </nav>
      {% endblock %}
    </header>
    {% block content %}{% endblock %}
    {% block footer %}
      <footer class="footer">
        <h2>{{ footer.title }}</h2>
        <ul class="links">
          {% for item in footer.links %}
            <li>
              <a href="{{ item.url }}" rel="me">
                {% if item.username %}
                  {{ item.name }} ({{ item.username }})
                {% else %}
                  {{ item.name }}
                {% endif %}
              </a>
            </li>
          {% endfor %}
        </ul>
        <div class="legal">
          {% for line in footer.legal %}
            <p>{{ line | safe }}</p>
          {% endfor %}
        </div>
      </footer>
    {% endblock %}
  </body>
</html>
