{% extends 'templates/base.njk' %}

{% block header %}
  <img class="avatar" src="liam.avif" alt="" height="143" width="143">
  {{ content | safe }}
{% endblock %}

{% block content %}
  <section>
    <h2>{{ posts.title }}</h2>
    <ul class="posts">
      {% for post in collections.post | published | reverse | limit(4) %}
        {% if not post.data.unlisted %}
          <li>
            <a href="{{ post.url }}">
              <h3>{{ post.data.title }}</h3>
              <p>{{ post.data.summary }}</p>
            </a>
          </li>
        {% endif %}
      {% endfor %}
    </ul>
  </section>
{% endblock %}
