{% extends 'templates/base.njk' %}

{% block header %}
  {{ content | safe }}
{% endblock %}

{% block content %}
  <section>
    <h2>{{ posts.title }}</h2>
    <ul>
      {% for post in collections.post | published | reverse | limit(4) %}
        {% if not post.data.unlisted %}
          <li>
            <a href="{{ post.url }}">
              <h3>{{ post.data.title }}</h3>
              <p>{{ post.data.summary }}</p>
            </a>
          </li>
        {% endif %}
      {% endfor %}
    </ul>
  </section>

  <footer>
    <h2>{{ social.title }}</h2>
    <ul>
      {% for item in social.links %}
        <li>
          <a href="{{ item.url }}" rel="me">
            {% if item.username %}
              {{ item.name }} ({{ item.username }})
            {% else %}
              {{ item.name }}
            {% endif %}
          </a>
        </li>
      {% endfor %}
    </ul>
  </footer>
{% endblock %}
